<%= form_with model: haumana, class:"entry_form" do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= haumana.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
  <% end unless haumana.errors.full_messages_for(:name).empty? %>

  <%= form.submit %>
<% end %>