<%= form_with model: @hour_entry do |form| %>
  <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <%= @hour_entry.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :date %><br>
      <%= form.datetime_local_field :date %>
      <%= @hour_entry.errors.full_messages_for(:date).each do |message| %>
          <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.submit %>
  </div>

<% end %>