<%= form_with model: activity_detail do |form| %>
  <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <%= activity_detail.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.label :hours %><br>
      <%= form.number_field :hours %>
      <%= activity_detail.errors.full_messages_for(:hours).each do |message| %>
          <div><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.submit %>
  </div>

<% end %>