<%= form_with model: activity_detail, class:"entry_form" do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= activity_detail.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
    <% end %>

    <%= form.label :hours %>
    <%= form.number_field :hours %>
    <%= activity_detail.errors.full_messages_for(:hours).each do |message| %>
        <div><%= message %></div>
    <% end %>

    <%= form.submit %>

<% end %>