<!DOCTYPE html>
<html>
  <head>
    <title>Halau</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('halau_logo.png') %>
  </head>

  <body>
    <%= link_to root_path, class: "page_header" do %>
      <%= image_tag("halau_logo.png", class: "header_icon") %>

      <p class="header_text">Halau Hula Ka Makani Hali 'Ala o Puna</p>
    <% end %>

    <%= yield %>
  </body>
</html>
